<?xml version="1.0" ?>
<rules>
	<clear/>
	<rule name="iis_security">
		<match ignoreCase="true" url="^.*\.(jpg|jpeg|gif|png|js|css)$"/>
		<conditions>
			<add input="{HTTP_REFERER}" negate="true" pattern="://yxz.free.idcfengye.com/.*"/>
		</conditions>
		<action type="Rewrite" url="/404.htm"/>
	</rule>
	<rule name="http_toHttps" stopProcessing="true">
		<match url="(.*)"/>
		<conditions>
			<add ignoreCase="true" input="{HTTPS}" pattern="off"/>
		</conditions>
		<action redirectType="Permanent" type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
	</rule>
</rules>
